.about-me {
  padding: 70px 14px;
  max-width: 1140px;
  margin: 0 auto;
}

.about-me__title {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  padding-bottom: 28px;
  border-bottom: 1px solid #DADADA;
}

.about-me__content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.about-me__photo {
  width: 292px;
  height: 352px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.about-me__description {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
}

.about-me__head {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1.2px;
  margin: 0;
}

.about-me__text {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}

.about-me__text:nth-of-type(2) {
  font-weight: 400;
}

.about-me__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin-top: 40px;
  transition: .5s;
}

.about-me__link:hover {
  opacity: .7;
}

@media screen and (min-width: 576px) {
  .about-me__content {
    flex-direction: row-reverse;
    gap: 40px;
  }
  
  .about-me__description {
    margin-top: 0;
  }
  
  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__link {
    margin-top: auto;
  }
}

@media screen and (min-width: 768px) {
  .about-me {
    padding: 89px 50px;
  }

  .about-me__title {
    font-size: 22px;
    letter-spacing: -0.88px;
    padding-bottom: 23px;
  }

  .about-me__content {
    margin-top: 66px;
    gap: 50px;
  }

  .about-me__head {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text:first-of-type {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .about-me {
    padding: 112px 70px 100px;
  }

  .about-me__content {
    justify-content: space-between;
  }

  .about-me__photo {
    width: 270px;
    height: 327px;
    margin: 0;
  }

  .about-me__head {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
  }

  .about-me__text:first-of-type {
    font-size: 18px;
    line-height: 20px;
    margin-top: 19px;
  }

  .about-me__text:nth-of-type(2) {
    font-size: 14px;
    line-height: 22px;
    margin-top: 25px;
    max-width: 599px;
  }
}